%btn-panel {
	display: inline-block;
	padding: 8px 15px;
	margin-left: 5px;
	margin-right: 5px;
	
	color: #fff;
	background-color: c("main");

	border: 0;
	border-radius: 3px;

	cursor: pointer;

	&:hover {
	  box-shadow: 0 0 1px 1px darken(c("em2"), 20%);
	}
}

.btn {
  @extend %btn-panel;
	&:last-child { margin-right: 0; }
}

.btn.small {
  padding: 6px 10px;
  font-size: 0.9rem;
}

.btn.large { 
	padding: 10px 20px;
	font-size: 1.1rem;
}