.form-group {
	label {
		display: inline-block;
		width: 15%;
		margin-right: 10px;
		margin-bottom: 15px;
	}

	input[type="text"] {
		height: calc(1rem + 8px);

		font-size: .9rem;

		border: 1px solid c("main");
		&:focus { 
			outline: none;
		}
	}
}