@include block("menu") {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	overflow: scroll;
  
  padding: 20px;
	
	font-size: 16px;
  color: #fff;
	
	background-color: darken(c("main"), 5%);

	ul > li { 
		position: relative; /* positioning */
		padding: 3px;
		margin-bottom: 8px;
	
		font-size: 1rem;
		color: lighten(c("main"), 35%);
		cursor: pointer;

		transition: .2s ease-out all;

		&:last-child { margin-bottom: 0; }
	}
	li ~ li:hover { background-color: darken(c("main"), 20%); }
}
